.kotak {
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 3px solid black;
    /* margin: 10px 20px 30px 40px; */
    margin-bottom: 20px;
    /* margin-inline: 20px; */
    color: white;
    font-size: 40px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gold {
    background-color: gold;
}

.green {
    background-color: darkgreen;
}

.lingkaran {
    border-radius: 50%;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    flex-wrap: wrap;
}